<!DOCTYPE html>
<html ng-app="index">
<head>
    <title>Meteoroloji Angular Eğitim Demo</title>
    <meta charset="utf-8" />



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/i18n/angular-locale_tr-tr.js"></script>
    <script src="app/index.js" type="text/javascript"></script>
    <script src="app/content.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">


</head>
<body>
    <div ng-controller="SeasonCtrl" class="container">
        <h1>Şu an mevsim  <b ng-bind="season"></b></h1>
        <h2 ng-bind="indexNo"></h2>
        <br />
        <input type="text" ng-model="season">
        <br><br>
        <input type="button" ng-click="setSeason('Yaz')" value="Mevsim Yaz olsun" class="btn btn-primary" />
        <br /><br />
        <input type="button" ng-click="setSeason('Kış')" value="Mevsim Kış olsun" class="btn btn-primary" />
        <br><br>
        <h3><span ng-bind="::season" class="label label-danger"></span></h3>
    </div>
    <br /><br />

    <div ng-controller="WeatherCtrl" class="container">
        <h1>Şu an hava <b ng-bind="weather"></b></h1>
        <h2 ng-bind="indexNo"></h2>
        <br />
        <input type="button" ng-click="setWeather('Sıcak')" value="Hava Sıcak olsun" class="btn btn-primary" />
        <br /><br />
        <input type="button" ng-click="setWeather('Soğuk')" value="Hava Soğuk olsun" class="btn btn-primary" />
        <br /><br />
        <input type="button" ng-click="Increase()" value="Sayacı 1 arttır" ng-class="{'btn btn-warning':true}" />
        <br /><br />
        <h3><span ng-bind="::weather" class="label label-danger"></span></h3>
    </div>
    <br /><br />

</body>
</html>
